<table>
    <tr>
        <td>
            <img class="marime aspect4" src="./assets/poze/machiajprincipal.png" alt="">
        </td>
        <td class="pozitie">
            <div class="aspect1">𝙎𝙝𝙞𝙣𝙞𝙣𝙜 𝘽𝙤𝙙𝙮</div>
            <br>
            <br>
            <div class="aspect2 culoare1">𝑳𝒐𝒗𝒆 𝒚𝒐𝒖𝒓𝒔𝒆𝒍𝒇</div>
            <br>
            <br>
            <div class="aspect3 pozitie"> 
                 Îți oferim servicii de epilare definitivă, remodelare corporală și estetică facială, realizate cu aparate de ultimă generație– totul,
                <br>
                pentru ca tu să fii în cea mai bună formă.
            </div>
          
        </td>
   </tr>
</table>
<br>
<body>
<table>
    <tbody>
    <tr>
        <td class="pozitie">
            <h2 class="culoare2 aspect1">
                Te așteptăm
                <br>
                <br>
                la Diana's Salon
                <hr color="pink">
                
            </h2>
            <div class="aspect7 aspect4">
                Diana's Salon este o opțiune de nădejde pentru fiecare client care ne trece pragul și care în ciuda unui program încărcat și a multor atribuții zilnice, dorește să își rezerve o ora și pentru el.
                <br>
                <br>

Ținem cont că timpul este un element de bază în viața de zi cu zi a fiecăruia, ce trebuie distribuit cu grijă, tocmai de aceea venim în întâmpinarea voastră cu tratamente eficiente, faciale și corporale, precum și cu opțiunea epilării definitive cu laser dioda Elysion Pro, o procedură  apreciată pentru rezultatele vizibile încă de la prima ședință.
<br> 
<br>

Încurajăm adoptarea și menținerea unui stil de viață sănătos, ce implică sport și o alimentație echilibrată și vrem ca tratamentele noastre să fie aliatul vostru în atingerea țelurilor propuse.
<br>
<br>

Dacă te-ai hotărât să investești în tine, te asteptăm la Diana's Salon, unde specialistii noștri te întâmpină oricând cu un zâmbet pe buze, o cafea sau un ceai cald și cu cele mai potrivite recomandări pentru necesitățile tale. 
<br>
În plus, ți-am pregătit și oferte speciale.
<br>
<br>
<br>
<br>
<br>
<div class="aspect1">
𝓓𝓲𝓪𝓷𝓪 𝓜𝓲𝓱𝓪𝓵𝓾𝓽
</div>
<br>
<div class="aspect5">
 Founder Diana's Salon
 <br>
 <br>
</div>

            </div>
        </td>
        <td>
            <img class="aspect8" src="./assets/poze/pozaepilare1.jpg" alt="">
        </td>
    </tr>
</tbody>
</table>
</body>
<table>
    <tr>
        <td>
            <mat-card class="example-card marimecard culoare3 culoare4">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>MAKE-UP</mat-card-title>
                  <mat-card-subtitle>Cosmetică</mat-card-subtitle>
                </mat-card-header>
                <img  mat-card-image src="./assets/poze/poza1categorie.jpg" alt="">
                <mat-card-content>
                    <br>
                  <p>
                    La noi beneficiati de cele mai revolutionare tratamente cosmetice faciale, tratamente antirid, epilat, pensat, servicii de cosmetica pentru barbati. Oferim servicii de make-up profesional pentru diverse ocazii.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button class="culoare5 culoare6"
                  mat-button routerLink="/make-up">Despre</button>
                </mat-card-actions>
              </mat-card>
        </td>
        <td>
            <mat-card class="example-card marimecard culoare3 culoare4">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>COAFOR</mat-card-title>
                  <mat-card-subtitle>Frizerie</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./assets/poze/poza2categorie.jpg" alt="">
                <br>
                <mat-card-content>
                  <p>
                    La Diana's Salon va oferim servicii de coafura, hairstyle, coafat mirese, coafat de ocazie, vopsit, aplicare extensii de par, tuns barbati. Folosim produse profesionale, de calitate, pentru tratamentele aplicate.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button class="culoare5-1 culoare6"
                  mat-button routerLink="/coafor">Despre</button>
                </mat-card-actions>
              </mat-card>
            
        </td>
        <td>
            <mat-card class="example-card marimecard culoare3 culoare4">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>MANICHIURĂ</mat-card-title>
                  <mat-card-subtitle>Pedichiură</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./assets/poze/poza3categorie.jpg" alt="">
                <br>
                <mat-card-content>
                  <p>
                    Oferim servicii profesionale de manichiura si pedichiura, manichiura cu oja semi-permanenta, pedichiura cu oja semi-permanenta.Folosim produse  profesionale pentru o manichiura si o pedichiura perfecte.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button class="culoare5-2 culoare6"
                  mat-button routerLink="/manichiura">Despre</button>
                </mat-card-actions>
              </mat-card>

        </td>
    </tr>
</table>
<br>


