<img class="marime aspect1" src="./assets/poze/logocontact.png" alt="">
<br>

<table>
    <tbody>
        <tr>
            <td></td>
            <td class="padding">
            <mat-card class="example-card marimecard culoare2 culoare1">
                <mat-card-header>
                  <mat-card-title>CONTACTEZĂ-NE</mat-card-title>
                </mat-card-header>
                <br>

                <mat-card-content>
                    <div class="marime1">
                        <mat-icon>location_on</mat-icon>
                            Str. Henri Coanda 53, Sibiu, România
                       <br>
                       <mat-icon>phone</mat-icon>
                           Mobil salon: (+40) 0748 111 111
                       <br>
                       <mat-icon>phone</mat-icon>
                           Mobil Diana: (+40) 0755 777 888
                       <br>
                       <mat-icon >email</mat-icon>
                           dianassalon@gmail.com
                           <br>
                           <mat-icon >email</mat-icon>
                           mihalutdiana2@gmail.com
                           <br>
                           <mat-icon class="pozitie">facebook</mat-icon>
                             <a href="https://www.facebook.com/dianaelenna.02">Pagina noastra de facebook</a>
                           <br>
                           <br>
                           Pentru a beneficia de 20% reducere la orice serviciu din cadrul salonului nostru, te invitam sa iti faci cont pe platforma noastra
                       </div>
                </mat-card-content>

                <mat-card-actions>
                  <button class="culoare5-2 culoare6" mat-button class="culoare4 culoare3" routerLink="/login">LOGIN</button>
                  <button class="culoare5-2 culoare6 "mat-button class="culoare4 culoare3 marginbuton" routerLink="/mesaj">SCRIE-NE</button>
                </mat-card-actions>
               
              </mat-card>
            </td>
            <td></td>

        </tr>
    </tbody>
  </table>
  <br>

