<img class="marime aspect1" src="./assets/poze/logogalerie.png" alt="">

<div class="gallery padding">
    <div class="container">
        <div class="img-container">
         <img src="./assets/poze/make-up1.jpg" alt="" id="preview">
        <div class="img-prev text-center">
            <div class="img-slide active">
                <img src="./assets/poze/make-up2.jpg" alt="" app-galerie>
            </div>
            <div class="img-slide">
                <img src="./assets/poze/make-up7.png" alt="" app-galerie>
            </div>
            <div class="img-slide">
                <img src="./assets/poze/make-up9.png" alt="" app-galerie>
            </div>
            <div class="img-slide">
                <img src="./assets/poze/make-up10.png" alt="" app-galerie>
            </div>
        </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>