.marime{
    width: 200px;
}

.aspect1{
    padding-left: 625px;
    padding-right: 625px;
}

.img-container{
    width: 600px;
    height: 700px;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.img-prev{
    margin-top: 10px;
}

.img-slide{
    display: inline-block;
    width: 24%;
    margin: 0 1px;
    cursor: pointer;
    opacity: 0.6;
}

.active{
    border: 2px solid pink;
    opacity: 1;
}

.padding{
    padding-left: 400px;
    padding-right: 300px;
}
