<img class="marime aspect1" src="./assets/poze/logoepilare.png" alt="">

<h1 class="pozitie aspect2">Pentru EPILARE DEFINITIVĂ, 
    <br>
    <br>
    îți punem la dispoziție două variante:
    
</h1>
<br>
    <table>
        <tbody>
            <tr >
                <td class="aspect3"><button class="background2" mat-button > <a href="http://localhost:4200/epilare#aici1"> Epilare definitivă cu Elysion Pro</a></button></td>
                <td class="aspect6"><button class="background2" mat-button ><a href="http://localhost:4200/epilare#aici2">Epilare definitivă cu Primelase HR Excellence</a></button></td>
                
            </tr>
        </tbody>
    </table>
<br>
<hr color="pink">
<br>
<h1 class="pozitie aspect2 background" id="aici1">Epilare definitivă cu Elysion Pro – Dioda Laser de 2000 W</h1>
<img class="aspect3 marime1" src="./assets/poze/epilare1.png" alt="">
<h1 class="pozitie"><strong>SCAPĂ DE PĂRUL NEDORIT CU O METODĂ MODERNĂ, CONFORTABILĂ ȘI EFICIENTĂ!</strong></h1>
<div class="aspect5" class="style">

    <body>
        <table>
            <tbody>
                <tr>
                    <td> 
                        <div><h1> Despre Elysion Pro – Dioda Laser de 2000 W</h1>
                        <hr color="pink">
                        Alege un tratament de Epilare definitivă laser Elysion Pro disponibil acum și în Sibiu.
                        <br>
                        Elysion Pro – Dioda Laser de 2000 W pentru Epilare Definitivă Laser – cel mai POPULAR Aparat de Epilare Definitivă cu Laser
                        <br>
                        Sistemul bazat pe laser dioda Elysion Pro este cel mai popular aparat de epilare definitivă, conceput de celebul brand spaniol Cocoon Medical, cu rezultate excelente pe orice tip de piele, indiferent de perioada anului.
                        <br>
                        Spre deosebire de alte aparate sau tehnici prezente actual pe piață în vederea epilării definitive, Elysion permite epilare definitivă și pe pielea bronzată sau foarte închisă la culoare.
                        <br>
                        Dacă sunteți în căutare de epilare definitivă în Sibiu, vă invităm la salonul nostru !
                        <br>
                        Echipamentul Elysion Pro îndeplinește standardele de calitate ISO 9001 și ISO 13485, specifice echipamentelor medicale.
                        <br>
                        Tehnologie medicală aprobată FDA (Food and Drug Administration, USA).
                        </div>
                    </td>
                    <td><img class="marime2" src="./assets/poze/epilare2.jpg" alt=""></td>
                </tr>
            </tbody>
        </table>
    </body>
    <br>
  
    <h1>Beneficiile tratamentului de epilare definitivă Sibiu cu laser Elysion Pro la Diana's Salon</h1>
<mat-list>
  <mat-list-item>
    <span matListItemTitle>Eficientă pe orice tip de piele și păr, chiar și pe pielea bronzată</span>
  </mat-list-item>
  <mat-list-item>Se poate efectua in orice anotimp (inclusiv vara)</mat-list-item>
  <mat-list-item>Tratează eficient foliculită și împiedică creșterea firelor de păr pe sub piele</mat-list-item>
  <mat-list-item>Rezultatele sunt vizibile de la prima ședință</mat-list-item>
  <mat-list-item>Se constată o îmbunătățire a calității pielii, producția de colagen este stimulată</mat-list-item>
  <mat-list-item>Mai puține ședințe față de alte tehnologii (6 – 8 ședințe corporal, 8 – 10 ședințe facial)</mat-list-item>
  <mat-list-item>Fără durere datorită sistemului performant de racire Crystal Freeze</mat-list-item>
  <mat-list-item>Prevenirea iritațiilor cauzate de metodele tradiționale</mat-list-item>
  <mat-list-item>Ședințele de epilare se realizează mult mai rar</mat-list-item>
</mat-list>
<br>
    <hr color="pink">
<br>
<h1 class="pozitie aspect2 background" id="aici2">Epilare definitivă cu Primelase HR Excellence - Aparat Laser Diodă de Mare Putere</h1>
<img class="aspect3 marime1" src="./assets/poze/epilare3.png" alt="">
<body>
    <table>
        <tbody>
            <tr>
                <td> 
                    <div><h1>Despre Primelase HR Excellence</h1>
                    <hr color="pink">
                        Noul aparat de estetică medicală laser multi-tratament Primelase HR Excellence este primul și singurul echipament ce garantează putere maximă de 4800W, oferind rezultate excepționale în zona de estetică.
                    <br>
                    Diferența dintre Primelase Excellence și alte aparate de epilare laser de pe piață este tehnologia de pulsuri scurte cu energie înaltă, ce permite un control fără precedent asupra tratamentului și, astfel, obținerea rezultatelor dorite într-un timp mai scurt inclusiv pe firul de păr subțire și deschis la culoare.
                    <br>
                    Dorești să scapi de stresul epilării dureroase din fiecare lună și nu ai nici foarte mult timp la dispoziție?
                    <br>
                    Ai vrea să apelezi la un tratament de epilare definitivă cu laser, care să dureze puțin și care poate fi efectuat în orice perioadă a anului.
                    <br>
                    Prin echipamentul de ultimă generație pe care îl deținem la salonul nostru Shining Body din Sibiu – Primelase HR Excellence, obții toate aceste beneficii și, în plus, siguranța unei proceduri efectuate terapeuți specializați în domeniu de estetică și epilare definitivă.
                    <br>
                    Tehnologie medicală aprobată FDA (Food and Drug Administration, USA).
                    <br>
                    PRIMELASE îndeplinește standardele de calitate ISO 9001 și ISO 13485 specifice echipamentelor medicale.
                    </div>
                </td>
                <td><img class="marime3" src="./assets/poze/epilare4.jpg" alt=""></td>
            </tr>
        </tbody>
    </table>
</body>
<br>
<h1>Beneficiile tratamentului de epilare definitivă Sibiu cu laser Primelase HR Excellence la Diana's Sibiu</h1>
<mat-list>
  <mat-list-item>
    <span matListItemTitle></span>
  </mat-list-item>
  <mat-list-item>Asigură rezultate excelente și pe firul subțire și deschis la culoare</mat-list-item>
  <mat-list-item>Reduce pilozitatea cu 20-50% chiar după prima sedință</mat-list-item>
  <mat-list-item>Tratament cu durată mai scurtă – economisești timp</mat-list-item>
  <mat-list-item>Recomandarea medicilor dermatologi din întreaga lume pentru tratarea foliculitei și a transpirației excesive</mat-list-item>
  <mat-list-item>Elimină și firele de păr crescute în piele</mat-list-item>
  <mat-list-item>Piele fină, fără iritații</mat-list-item>
  <mat-list-item>Se poate efectua inclusiv vara</mat-list-item>
  <mat-list-item>Procedură personalizabilă, în funcție de tipul de piele</mat-list-item>
</mat-list>

 