<img class="marime aspect1" src="./assets/poze/logomake-up.png" alt="">


<table>
    <tbody>
        <tr>
            <td> <img class="marime1" src="./assets/poze/machiaj2.3.jpg" alt=""></td>
            <td> <img class="marime2" src="./assets/poze/machiaj2.4.jpg" alt=""></td>
            <td> <img class="marime1-2" src="./assets/poze/machiaj2.5.jpg" alt=""></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <p class="aspect2">
                    De cele mai multe ori folosim machiajul pentru a ascunde imperfectiunile chipului. Noi folosim machiajul pentru a descoperi perfectiunea trasaturilor unice pe care le avem, dar mai ales, charisma individuala ascunsa in spatele epidermei.
                 Un machiaj profesional va face intotdeauna diferenta, insa pentru aceasta, trebuie sa te asiguri ca alegi cu grija specialistul care il va realiza. Nu ai vrea sa ai surprize neplacute in privinta aceasta.
                </p>
            </td>
            <td><img class="aspect3" src="./assets/poze/make-up1.jpg" alt=""></td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            
            <td><img class="aspect4" src="./assets/poze/make-up10.png" alt=""></td>
               
            <td>
                <p class="aspect2">
                    
                    Produsele folosite sunt si ele la fel de importante, pentru ca atunci cand se folosesc unele de calitate, rezultatele vor fi vizibil superioare. 
                    Datorita acestora, machiajul profesional va rezista un timp mai indelungat.
                    Chiar daca poate stii sa te machiezi foarte bine, atunci cand ai o ocazie speciala si vrei sa te simti bine in pielea ta, iti recomandam sa apelezi la serviciile unui make-up artist, pe care bineinteles ca il poti gasi la Diana's Salon.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <p class="aspect2">
                   
                    El va sti cum sa iti asorteze machiajul in functie de tinuta pe care o vei purta, sa iti scoata in evidenta conturul fetei si liniile fine, lasand in acelasi timp un aspect cat mai natural.
                     Astfel, tu nu vei avea senzatia aceea de ten incarcat, ci doar te vei bucura de un machiaj ce va rezista intreaga noapte.
                </p>
            </td>
            <td><img class="aspect3" src="./assets/poze/make-up5.jpg" alt=""></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<table>
    <tbody>
        <tr>
            
            <td><img class="aspect3" src="./assets/poze/make-up6.png" alt=""></td>
               
            <td class="aspect2">
               
                    In cadrul salonului nostru, oferim de asemenea servicii de extensie gene, fir cu fir sau banda. Daca te-ai hotarat sa faci pasul acesta si sa iti infrumusetezi astfel genele, te asteptam la Diana's Salon pentru a iti explica pasii necesari si pentru a te ajuta sa te bucuri de genele mult visate.

    Fie ca iti doresti un machiaj profesional sau doar extensii de gene, fa o programare la salonul nostru si lasa-ne sa te transformam intr-o adevarata Regina.
                
            </td>
        </tr>
    </tbody>
</table>
<br>
<h1 class="text-center font"><strong>Diana's Salon</strong></h1>
<h2 class="text-center color font1"><strong>Galerie foto</strong></h2>
<hr class="hr"color="pink">
<br>
<table>
    <tbody>
        <tr class="text-center">
            <td>
                <img class="aspectpoza" src="./assets/poze/machiaj1.png" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/machiaj2.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/machiaj3.jpg" alt="">
            </td>
        </tr>
        <br>
        <tr class="text-center">
            <td>
                <img class="aspectpoza" src="./assets/poze/machiaj4.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/machiaj5.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/machiaj6.jpg" alt="">
            </td>
        </tr>
        <br>
        <tr class="text-center">
            <td>
                <img class="aspectpoza" src="./assets/poze/machiaj7.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/machiaj8.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/machiaj9.jpg" alt="">
            </td>
        </tr>
    </tbody>
</table>
<br>


