<mat-accordion>
    <p class="padding"><strong>Preturi Make-up si Cosmetica</strong></p>


<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
Preturi Make-up
</mat-panel-title>
<mat-panel-description> 
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Make-up special</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                250 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Make-up mireasa</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                350 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Aplicat gene fir cu fir</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                230 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Aplicat gene banda/buchetel</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                100 RON
            </td>
        </tr>
        

    </tbody>
</table>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
Preturi Pensat
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Pensat</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                40 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Pensat forma</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                60 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Vopsit gene/sprancene</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                15 RON
            </td>
        </tr>
    </tbody>
</table>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
    Preturi Tratamente Faciale
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Tratament Yon-KA le grand clasique</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                300 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tratament Yon-KA hidralissance</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                350 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tratament Babor – Curatare ten</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                300 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tratament Babor – Hidratare</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                300 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tratament Babor – Colagen Babor</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                350-390 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tratament Babor – Revitalizare</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                330-380 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tratament Babor – Detoxifiant</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                390 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tratament Babor – HSR Fermitate</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                400-450 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tratament Babor – Age Summem</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                350 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Masaj facial(fiola+gomaj)</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                120 RON
            </td>
        </tr>
        
    </tbody>
</table>
</mat-expansion-panel>


<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
Preturi Micropigmentare
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Micropigmentare sprancene</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                800 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Retus sprancene</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                250 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Micropigmentare buze</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                800 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Retus buze</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                300 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Micropigmentare ochi</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                750 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Retus ochi</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                250 RON
            </td>
        </tr>
        
    </tbody>
</table>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
    Preturi Microblading
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Microblading</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                700 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Microblading retus</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                250 RON
            </td>
        </tr>
    </tbody>
</table>
</mat-expansion-panel>
<br>
    <p class="padding"><strong>Preturi Coafor si Frizerie</strong></p>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="color">
          Preturi Coafor
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table>
        <tbody>
            <tr>
                <td>
                    <strong>Coafat par mediu </strong> 
                </td>
                <td>
                    ............ 
                </td>
                <td>
                    80 RON
                </td>
            </tr>
            <tr>
                <td>
                    <strong> Coafat par lung</strong> 
                </td>
                <td>
                    ............ 
                </td>
                <td>
                    100 RON
                </td>
            </tr>
            <tr>
                <td>
                    <strong> Coafat cu peria si placa</strong> 
                </td>
                <td>
                    ............ 
                </td>
                <td>
                    130 RON
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Coafat special</strong> 
                </td>
                <td>
                    ............ 
                </td>
                <td>
                    200 RON
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Coafat mireasa</strong> 
                </td>
                <td>
                    ............ 
                </td>
                <td>
                    300 RON
                </td>
            </tr>
            <tr>
                <td>
                   <strong>Uscat simplu</strong> 
                </td>
                <td>
                    ............ 
                </td>
                <td>
                    20 RON
                </td>
            </tr>
            <tr>
                <td>
                   <strong> Uscat cu difuzorul</strong>
                </td>
                <td>
                    ............ 
                </td>
                <td>
                    50-80 RON
                </td>
            </tr>
      
    
        </tbody>
    </table>
    </mat-expansion-panel>
   
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
Preturi Spalat
</mat-panel-title>
<mat-panel-description>
 
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Spalat</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                30 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Spalat vopsit</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                40 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Sistem reparare(fiola tratament) </strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                45 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Ritual 30 minute</strong> 
                <br>
                (samponare, masca, fiola si masaj)
            </td>
            <td>
                ............ 
            </td>
            <td>
                85 RON
            </td>
        </tr>
        

    </tbody>
</table>


</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
Preturi Tuns
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Tuns breton</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                30 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tuns tehnic</strong> 
                <br>
                (modificarea formei)
            </td>
            <td>
                ............ 
            </td>
            <td>
                250 RON
            </td>
        </tr>
    </tbody>
</table>

</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
Preturi Frizerie
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Pachet-Tuns barbati </strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                80 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tuns barba</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                20 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Stilizare barba</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                30 RON
            </td>
        </tr>
    </tbody>
</table>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
Preturi Tehnic
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Decapaj</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                150 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Decolorare radacina </strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                110 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Decolorare lungimi</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                170 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Suvite in folie multicolore</strong>
                <br>
                (pudra, vopsea) 
            </td>
            <td>
                ............ 
            </td>
            <td>
                150-200 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Suplimentare suvite cu pudra/vopsea</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                25 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Fibreplex</strong>
                <br>
                (antirupere) 
            </td>
            <td>
                ............ 
            </td>
            <td>
                50 RON
            </td>
        </tr>
    </tbody>
</table>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
Preturi Vopsit
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Vopsit par lung</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                450 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Vopsit par mediu</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                350 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Vopsit par scurt</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                250 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>1 tub vopsea Schwartkopf</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                65 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>1 tub vopsea Vibrance</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                75 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>1 tub vopsea fara PPD</strong> 
                <br>
                (vegana)
            </td>
            <td>
                ............ 
            </td>
            <td>
                75 RON
            </td>
        </tr>
    </tbody>
</table>
</mat-expansion-panel>
<br>
<p class="padding"><strong>Preturi Manichiura si Pedichiura</strong></p>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
Preturi Manichiura
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Manichiura clasica</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                55 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Manichiura express</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                40 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Manichiura semi-permanenta</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                90 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Parafina manichiura</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                20 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Aplicare oja</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                15 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Aplicare oja semi-permanenta</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                45 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Scos oja semi-permanenta</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                15 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Pictura pe unghii</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                20 RON
            </td>
        </tr>

    </tbody>
</table>
</mat-expansion-panel>
  

  <mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
    Preturi Pedichiura
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Pedichiura clasica</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                55 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Pedichiura express</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                40 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Pedichiura semi-permanenta</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                90 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Pedix calcaie</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                30 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Parafina pedichiura</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                25 RON
            </td>
        </tr>

    </tbody>
</table>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title  class="color">
Preturi Unghii Tehnice
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Constructie gel</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                180 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Intretinere gel</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                120 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Constructie o unghie</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                10 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Intretinere o unghie</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                7 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Scos gel</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                40 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Protectie unghie naturala</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                160 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Protectie pedichiura gel</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                160 RON
            </td>
        </tr>
    </tbody>
</table>
</mat-expansion-panel>
<br>

<br>
<p class="padding"><strong>Preturi Epilare Definitiva</strong></p>


<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
    ELYSION PRO

</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Mustață</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                90 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Bărbie</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                100 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Pomeți</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                50 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>FAȚĂ INTEGRAL</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                250 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Axile</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                140 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Antebrațe</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                250 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Mâini</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                100 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>BRAȚE TOTAL</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                350 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Zonă lombară</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                300 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Spate integral</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                550 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Abdomen</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                200 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Linie bikini</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                120 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Inghinal total</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                300 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Interfesieri</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                100 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Fese</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                150 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Gambe</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                500 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Coapse</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                540 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>PICIOARE INTEGRAL</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                800 RON
            </td>
        </tr>


    </tbody>
</table>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="color">
    PRIMELASE HR EXCELLENCE
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<table>
    <tbody>
        <tr>
            <td>
                <strong>Mustață</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                90 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Bărbie</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                135 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Pomeți</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                80 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>FAȚĂ INTEGRAL</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                270 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Axile</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                180 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Antebrațe</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                270 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Mâini</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                140 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>BRAȚE TOTAL</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                390 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Zonă lombară</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                390 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Spate integral</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                620 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Abdomen</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                290 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Linie bikini</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                135 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Inghinal total</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                300 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Interfesieri</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                140 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Fese</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                340 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Gambe</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                500 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>Coapse</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                540 RON
            </td>
        </tr>
        <tr>
            <td>
                <strong>PICIOARE INTEGRAL</strong> 
            </td>
            <td>
                ............ 
            </td>
            <td>
                800 RON
            </td>
        </tr>


    </tbody>
</table>
</mat-expansion-panel>
  </mat-accordion>
