<img class="marime aspect1" src="./assets/poze/logomanichiura.png" alt="">
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img class="padding marime1" src="./assets/poze/unghii11.jpg" alt="">
            </td>
            <td>
                <mat-list>
                    <mat-list-item>
                      <span matListItemTitle><strong>Manichiura clasica este cea mai usoara si rapida metoda de a avea mereu unghii sanatoase si ingrijite.
                        <br>
                         Pasii pe care ii urmam pentru o manichiura clasica perfecta sunt urmatorii:</strong></span> </mat-list-item>
                    <mat-list-item></mat-list-item>
                    <mat-list-item  class="padding aspect2">- prin pilire, in functie de preferintele clientului, se da forma unghiilor</mat-list-item>
                    <mat-list-item  class="padding aspect2">- se inmoaie mainile in apa calduta in care punem cateva picaturi de apa emolienta si cateva picaturi emolienta si
                        <br>
                        cateva picaturi terapeutice de diverse arome</mat-list-item>
                        <br>
                    <mat-list-item  class="padding aspect2">- dupa cateva minute, cand cuticula este suficient de inmuiata,
                        <br>
                         se indeparteaza cu instrumente sterile sau se impinge cu ajutorul unui betisor de bambus</mat-list-item>
                    <mat-list-item  class="padding aspect2">- pentru rezistenta manichiurii, unghiile se degreseaza inainte de aplicarea ojei</mat-list-item>
                    <mat-list-item  class="padding aspect2">- se aplica un strat subtire de baza care ajuta la o mai buna aderenta a ojei si protejeaza unghia impotriva patarii</mat-list-item>
                    <mat-list-item  class="padding aspect2">- dupa ce baza este uscata se aplica doua straturi de oja colorata</mat-list-item>
                    <mat-list-item  class="padding aspect2">- culoarea se sigileaza cu un strat de top pentru o mai mare rezistenta si care ofera un plus de stralucire</mat-list-item>
                    <mat-list-item  class="padding aspect2">- se hidrateaza cuticula cu ulei special si se aplica 0 solutie pentru uscare rapida</mat-list-item>
                    <mat-list-item  class="padding aspect2">- la final se aplica pe maini, prin masare, lotiunea hidratanta</mat-list-item>
                </mat-list>
            </td>
            
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
           
            <td>
                <mat-list>
                    <mat-list-item>
                      <span matListItemTitle><strong>Pedichiura clasica este metoda perfecta de relaxare.
                        <br>
                         Pasii pe care ii urmam pentru o pedichiura clasica perfecta sunt urmatorii:</strong></span> </mat-list-item>
                    <mat-list-item></mat-list-item>
                    <mat-list-item  class="padding aspect2">- se inmoaie picioarele in apa calduta. In aceasta punem cateva picaturi de apa emolienta si sare de baie</mat-list-item>
                    <mat-list-item  class="padding aspect2">- urmeaza indepartarea calozitatilor cu o pila speciala</mat-list-item>
                    <mat-list-item  class="padding aspect2">- pentru rezistenta manichiurii, unghiile se degreseaza. Apoi, aplicam oja.</mat-list-item>
                    <mat-list-item  class="padding aspect2">- se aplica un strat subtire de baza. Acesta ajuta la o mai buna aderenta a ojei. De asemenea, protejeaza unghia
                        <br>
                         impotriva patarii.</mat-list-item>
                    <mat-list-item  class="padding aspect2">- asteptam ca baza sa se usuce. Aplicam doua straturi de oja colorata.</mat-list-item>
                    <mat-list-item  class="padding aspect2">- culoarea se sigileaza cu un strat de top pentru o mai mare rezistenta. De asemenea, aceasta ofera un plus
                        <br>
                         de stralucire.</mat-list-item>
                    <mat-list-item  class="padding aspect2">- se hidrateaza cuticula cu ulei special. Se aplica solutie pentru uscare rapida.</mat-list-item>
                    <mat-list-item  class="padding aspect2">- la final, se aplica, prin masare, lotiunea hidratanta.</mat-list-item>
                </mat-list>
            </td>
            <td>
                <img class="padding1 marime1" src="./assets/poze/pedichiura1.jpg" alt="">
            </td>
            
        </tr>
    </tbody>
</table>
<br>
<br>
<h1 class="text-center font"><strong>Diana's Salon</strong></h1>
<h2 class="text-center color font1"><strong>Galerie foto</strong></h2>
<hr class="hr"color="pink">
<br>
<table>
    <tbody>
        <tr class="text-center">
            <td>
                <img class="aspectpoza" src="./assets/poze/unghii1.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/unghii2.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/unghii3.jpg" alt="">
            </td>
        </tr>
        <br>
        <tr class="text-center">
            <td>
                <img class="aspectpoza" src="./assets/poze/unghii4.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/unghii5.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/unghii6.jpg" alt="">
            </td>
        </tr>
        <br>
        <tr class="text-center">
            <td>
                <img class="aspectpoza" src="./assets/poze/unghii7.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/unghii8.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/unghii9.jpg" alt="">
            </td>
        </tr>
    </tbody>
</table>
<br>
