<section>
    <p >
      <mat-toolbar class="aspect marime culoare" >
        <img class="background"src="../assets/poze/logosalon.png" alt="">
        <h3 class="aspect1">𝑫𝒊𝒂𝒏𝒂'𝒔 𝑺𝒂𝒍𝒐𝒏</h3>
        <div>
  
            <button mat-button class="marime1" routerLink="/paginaprincipala">HOME</button>
           
            <button mat-button  class="marime1" routerLink="/make-up">MAKE-UP</button>
                    
            <button mat-button class="marime1" routerLink="/coafor">COAFOR/FRIZERIE</button>
    
            <button mat-button class="marime1" routerLink="/manichiura" >MANICHIURA/PEDICHIURA</button>
          
            <button mat-button  class="marime1" routerLink="/epilare">EPILARE DEFINITIVA</button>
            
            <button mat-button class="marime1" routerLink="/preturi">PREȚURI</button>

            <button mat-button class="marime1" routerLink="/contact">CONTACT</button>
            
            <button mat-button class="marime1" routerLink="/galerie">GALERIE FOTO</button>
            
            
          </div>
          


      </mat-toolbar>
    </p>
  
    
<section>
 
</section>
