<img class="marime aspect1" src="./assets/poze/logocoafor.png" alt="">

<table>
    <tbody>
        <tr>
            <td>
                <h1 class="padding2"><strong>Wella Shinefinity</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                    Wella SHINEFINITY, disponibil la Illusion Nail & Beauty Center, este soluția perfectă pentru a obține o strălucire de culoare durabilă și un aspect sănătos al părului, fără a provoca deteriorări. Cu o acțiune de până la 6 săptămâni, produsul menține nuanța adevărată a culorii chiar și pe părul poros, datorită tehnologiei sale cu pH echilibrat.
                </p>
                <p class="padding aspect2">
                    Formula revoluționară a Wella SHINEFINITY nu conține decoloranți, siliconi, alcooli, amoniac, coloranți direcți sau parabeni. Rezultatul este un păr cu o strălucire crescută de până la 250% și o textură mai moale și netedă cu până la 50%.
                </p>
                <p class="padding aspect2">
                    Rezultatele de culoare obținute cu Wella SHINEFINITY sunt fiabile și autentice, asigurându-vă că veți avea părul exact așa cum v-ați dorit. În plus, acest produs pentru nuanțarea părului vă permite să vă bucurați de un păr sănătos și strălucitor, fără a compromite aspectul sau sănătatea părului dumneavoastră.
                </p>
                <p class="padding aspect2">
                    Alegeți Illusion Nail & Beauty Center pentru a experimenta diferența în strălucire, culoare și sănătate a părului dumneavoastră cu ajutorul serviciilor și produselor Wella SHINEFINITY.
                </p>

            </td>
            <td>
                <img class="padding" src="./assets/poze/coafor1.png" alt="">
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img class="padding marime1" src="./assets/poze/coafor2.png" alt="">
            </td>
            <td>
                <h1 class="padding2"><strong>Tuns dame</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                    Va asteptam la Diana's Salon pentru a va bucura de o schimbare de look spectaculoasa sau pentru a va tunde varfurile deteriorate. Alegeti tunsoarea care va pune in valoare personalitatea.
                </p>
                <br>
                <h1 class="padding2"><strong>Coafat</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                    Hairstilistii nostri sunt de incredere si vor crea o coafura care va impresiona, folosind doar produse profesionale pentru coafat de cea mai buna calitate. Veti avea un par cu volum, perfect aranjat, frumos si fabulos!
                </p>
                <br>
                <h1 class="padding2"><strong>Coc</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                    Vreti un coc perfect, conform anatomiei fetei si capului? Diana's Salon este partenerul ideal, pentru a va crea una din cele mai clasice si frumoase coafuri. Vom crea o adevarata capodopera de coafura!
                </p>
                <br>
                <h1 class="padding2"><strong>Tratamente Bio par</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                    Diana's Salon va pune la dispozitie o gama variata de tratamente pentru par profesionale, insa specialistii nostri, vor recomanda doar tratamentul cel mai adecvat fiecarei persoane in parte.
                </p>
                

            </td>
            
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <h1 class="padding2"><strong>Vopsit par</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                La Diana's Salon veti beneficia de tehnici speciale de colorare, hairstilistii nostri creand o solutie personalizata pentru vopsirea parului. Rezultatele vor fi asa cum v-ati dorit – frumoase si stralucitoare!
                </p>
                <br>
                <h1 class="padding2"><strong>Coafat ocazii</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                 Hairstilistii nostri va vor ajuta sa alegeti coafura care vi se potriveste cel mai bine, in functie de tinuta pe care o veti purta si de tipul evenimentului la care veti participa. Descopera acum cele mai in trend coafuri! 
                </p>
                <br>
                <h1 class="padding2"><strong>Impletitura ruseasca</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                    Doriti sa aveti un look romantic si plin de feminitate? Atunci alegeti impletitura ruseasca, aceasta fiind o coafura nemaipomenita pentru orice ocazie, seara sau zi. Impletiturile rusesti sunt in tentinde in orice sezon doriti.
                </p>
                <br>
                <h1 class="padding2"><strong>Extensii par natural</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                    Extensiile de par natural la gasiti la Diana's Salon intr-o paleta minunata de 37 de culori (blond-saten, brunet-roscat), cu lungimi de la 40cm la 70cm si in nuante stralucitoare. Sunt usor de ingrijit!  
                </p>
                <br>
                <h1 class="padding2"><strong>Decolorat par cu produse bio</strong></h1>
                <hr color="pink">
                <p class="padding aspect2">
                    Decolorarea inseamna un proces chimic prin care se realizeaza indepartarea pigmentului din par. In cazul in care doriti o nuanta mai deschisa fata de ce aveti, atunci trebuie sa apelati la un specialist pentru decolorare.
                </p>
            </td>
            <td>
                <img class="padding marime1" src="./assets/poze/coafor3.png" alt="">
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>
<h1 class="text-center font"><strong>Diana's Salon</strong></h1>
<h2 class="text-center color font1"><strong>Galerie foto</strong></h2>
<hr class="hr" color="pink">
<br>
<table>
    <tbody>
        <tr class="text-center">
            <td>
                <img class="aspectpoza" src="./assets/poze/galeriecoafor1.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/galeriecoafor2.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/galeriecoafor3.png" alt="">
            </td>
        </tr>
        <br>
        <tr class="text-center">
            <td>
                <img class="aspectpoza" src="./assets/poze/galeriecoafor4.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/galeriecoafor5.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/galeriecoafor6.jpg" alt="">
            </td>
        </tr>
        <br>
        <tr class="text-center">
            <td>
                <img class="aspectpoza" src="./assets/poze/galeriecoafor7.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/galeriecoafor8.jpg" alt="">
            </td>
            <td>
                <img class="aspectpoza" src="./assets/poze/galeriecoafor9.jpg" alt="">
            </td>
        </tr>
    </tbody>
</table>
<br>


