<section>
    
      <mat-toolbar class="aspect marime culoare" >
        <img class="background"src="../assets/poze/logosalon.png" alt="">
        
        
        <mat-icon class="pozitie">facebook</mat-icon>
        <a class="marime1 pozitie1" href="https://www.facebook.com/dianaelenna.02">Pagina noastra de facebook</a>
        
        <mat-icon class="pozitie2">youtube</mat-icon>
        <body>
            <table class="aspect2">
                <tr>

               <td>
                   <h3>
                     <strong>Contact</strong>
                   </h3>
                   <div class="marime1">
                    <mat-icon>location_on</mat-icon>
                        Str. Henri Coanda 53, Sibiu, România
                   <br>
                   <mat-icon>phone</mat-icon>
                       Mobil : (+40) 0748 111 111
                   <br>
                   <mat-icon >email</mat-icon>
                       dianassalon@gmail.com
                   </div>
               </td>
               <td>
                   <h3>
                   <strong>Program</strong>
                   </h3>
                   <div class="marime1">
                       Luni - Vineri: 08:00 - 20:00
                       <br>
                       Sâmbătă: 08:00 - 15:00
                       <br>
                       Duminică: Închis  
                   </div>
               </td>
            </tr>
            </table>
          </body>

      </mat-toolbar>
  
    
<section>
 
</section>
